body {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.header {
  display: inline-flex;
  width: 100%;
  border-bottom: purple;
  border-bottom-style: solid;
}
.header .header-img {
  width: 100%;
}
.header img {
  border-radius: 25px;
  width: 50%;
}
.header .header-content {
  margin-left: 5rem;
  margin-top: -20px;
  width: 100%;
}
.header .header-content .name {
  width: 100%;
}
.header .header-content .job-title {
  width: 200%;
}
.header .header-contact {
  width: 100%;
  margin-top: 20px;
  margin-left: 30rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}
.content-title {
  margin-left: 2rem;
}
.content {
  margin-left: 20rem;
  margin-bottom: 5rem;
}
.resume-content {
  margin-top: 4rem;
}
.resume-content .about {
  display: inline-flex;
  margin-bottom: 5rem;
  width: 100%;
}
.resume-content .projects {
  display: inline-flex;
  width: 100%;
  margin-bottom: 5rem;
}
.resume-content .skills {
  display: inline-flex;
  margin-bottom: 5rem;
  width: 100%;
}
.resume-content .skills ul {
  margin-left: -3rem;
  display: inline-flex;
  list-style-type: square;
}
.resume-content .skills ul li {
  margin-left: 3rem;
}
.resume-content .education {
  display: inline-flex;
  margin-bottom: 5rem;
  width: 100%;
}
.resume-content .experience {
  display: inline-flex;
  margin-bottom: 5rem;
  width: 100%;
}
